//Bootstrap
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// @import "bootstrap/glyphicons";
// // Core CSS
// @import "bootstrap/scaffolding";
// @import "bootstrap/type";
// @import "bootstrap/code";
// @import "bootstrap/grid";
// @import "bootstrap/tables";
// @import "bootstrap/forms";
// @import "bootstrap/buttons";
// // Components
// @import "bootstrap/component-animations";
// @import "bootstrap/dropdowns";
// @import "bootstrap/button-groups";
// @import "bootstrap/input-groups";
// @import "bootstrap/navs";
// @import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/panels";
// @import "bootstrap/responsive-embed";
// @import "bootstrap/wells";
// @import "bootstrap/close";
// // // Components w/ JavaScript
// // @import "bootstrap/modals";
// // @import "bootstrap/tooltip";
// // @import "bootstrap/popovers";
// // @import "bootstrap/carousel";
// // // Utility classes
// @import "bootstrap/utilities";
// @import "bootstrap/responsive-utilities";

@import "variables.scss";
@import "./components/topBar.scss";
@import "./components/modal.scss";
@import "./components/grid.scss";

//typography
html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
}

h1 {
	font-size: $h1;
}

h4 {
	font-size: $h4;
}

h6 {
	font-size: $h6;
}

body {
	margin:0;
	overflow-x: hidden;
}

button {
	height: $default-height;
	padding: 0px 6px;
	border: none;
	border-radius: 2px;
	font-size: $h4;
	a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	&.default {
		background-color: $color_button_default;
		color: white;
		border-bottom: 1px solid black;
		&:hover {
			background-color: $color_button_default_hover;
		}
		&:active {
			background-color: $color_button_default_active;
		}
	}
	&.clear {
		background-color: transparent;
		color: $text_color_normal;
	}
}

ul {
	list-style-type: none;
	font-size: $h4;
	margin: 0;
	padding: 0;
	li {

	}
}

input {
	border:none;
}

.modal-anim-enter {
	opacity: 0.00;
	transform: scale(0.7);
	transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
	opacity: 1;
	transform: scale(1);
}

.modal-anim-leave {
	opacity: 1;
	transform: scale(1);
	transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
	opacity: 0.00;
	transform: scale(0.7);
}
